#result {
	flex-wrap: wrap;
}

.box {
	width: 25%;
	height: calc(25vw + 4em);
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.box>svg {
	flex: 1 0 0 ;
}

.title {
	text-align: center;
	font-size: 1.5em;
}